<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andc.andcsocials">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/andc_logo"
        android:label="@string/app_name"
        android:logo="@drawable/andc_logo"
        android:roundIcon="@mipmap/andc_logo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ANDCSocials">
        <activity android:name=".AuthenticatePhoneNumber"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ViewPagerExample">
        </activity>
        <activity android:name=".ForgetPassword" />
        <activity android:name=".RegisterSocietyInformation_1" />
        <activity android:name=".RegisterUserInformation_1" />
        <activity android:name=".RegisterSocietyInformation" />
        <activity android:name=".AuthenticateEmail" />
        <activity android:name=".NeedHelp" />
        <activity android:name=".society_menu" />
        <activity android:name=".RegisterUserInformation" />
        <activity android:name=".RegisterPassword" />
        <activity android:name=".Register" />
        <activity android:name=".LogIn" />
        <activity
            android:name=".SignIn"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>